/* Page Styling */
body {
  font-size: 1em;
  line-height: 1.5em;
}

.content {
  margin: 0 auto;
  width: 12em;
}

footer {
  text-align: center;
  width: 100%;
}

/* Standard List */
ul.iconic {
  list-style: none;
}
ul.iconic li {
  list-style-image: none;
  list-style-type: none;
  margin: 0.75em 0;
  padding-left: 1.5em;
  line-height: 1.1em;
}
ul.iconic .icons-equalizer {
  padding: 0 7em;
  line-height: 6.5em;
}

/* Image replacement */
/* Retina Sprites */
.icons-aperture, .icons-article, .icons-book_alt, .icons-box, .icons-camera, .icons-chart, .icons-cog, .icons-compass, .icons-cursor, .icons-equalizer {
  background-image: url('../images/icons-s54d5b8e78e.png');
  background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-aperture, .icons-article, .icons-book_alt, .icons-box, .icons-camera, .icons-chart, .icons-cog, .icons-compass, .icons-cursor, .icons-equalizer {
    background-image: url('../images/icons-retina-s5b77c226ba.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100px 280px;
    -moz-background-size: 100px 280px;
    -o-background-size: 100px 280px;
    background-size: 100px 280px;
  }
}

.icons-aperture {
  width: 16px;
  height: 16px;
  background-position: 0 -105px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-aperture {
    background-position: 0 -104px;
  }
}

.icons-article {
  width: 16px;
  height: 16px;
  background-position: 0 -273px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-article {
    background-position: 0 -264px;
  }
}

.icons-book_alt {
  width: 16px;
  height: 16px;
  background-position: 0 -231px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-book_alt {
    background-position: 0 -224px;
  }
}

.icons-box {
  width: 16px;
  height: 16px;
  background-position: 0 -252px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-box {
    background-position: 0 -244px;
  }
}

.icons-camera {
  width: 16px;
  height: 16px;
  background-position: 0 -189px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-camera {
    background-position: 0 -184px;
  }
}

.icons-chart {
  width: 16px;
  height: 16px;
  background-position: 0 -126px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-chart {
    background-position: 0 -144px;
  }
}

.icons-cog {
  width: 16px;
  height: 16px;
  background-position: 0 -168px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-cog {
    background-position: 0 -164px;
  }
}

.icons-compass {
  width: 16px;
  height: 16px;
  background-position: 0 -147px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-compass {
    background-position: 0 -124px;
  }
}

.icons-cursor {
  width: 16px;
  height: 16px;
  background-position: 0 -210px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-cursor {
    background-position: 0 -204px;
  }
}

.icons-equalizer {
  width: 100px;
  height: 100px;
  background-position: 0 0;
}
